<!-- src/main/resources/templates/error.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css"> <!-- Adicione o link para o seu arquivo CSS -->
    <!-- Seu link para o Bootstrap, se necessário -->
</head>
<body>
<div class="container">
    <h1>Error</h1>
    <p>Como veio parar aqui? caiu de paraquedas? aqui esta quebrado😕</p>
    <p>Se o problema persistir, entre em contato conosco <a th:href="@{mailto:gutogustavogu@gmail.com}">aqui</a>.</p>
</div>
</body>
</html>